<html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .content {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    {% comment %} <nav>
        <!-- Your navbar HTML code here -->
        <ul>
            <li><a href="/controller">Controller</a></li>
            <li><a href="/controller/projects/new">Create Project</a></li>
            <li><a href="/controller/projects/join">Join Project</a></li>
        </ul>
    </nav> {% endcomment %}

    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link link-light" href="/controller">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/controller/projects/new">Create Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/controller/projects/join">Join Project</a>
        </li>
      </ul>

    <!-- Content block to be overridden by child templates -->
    <div id= "content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>